extends layout

block content
	if !user
		.banner-wrapper
				.menu
					p.menu-item
						a(href="/auth/github" class="menu-text") Login
	else
		.banner-wrapper
				.menu
					p.menu-item
						a(href="/rolodex" class="menu-text") My Rolodex
					p.menu-item
						a(href="/logout" class="menu-text") Log Out
		
		.myCard(class="col s12" ng-controller="myController")
			div(class="my-card-photo")
				img(src='{{user_profilePhoto}}', height="100px", width="100px")
			div
				h1 {{ user_name }}
				p {{ user_company }}
				p {{ user_location }}
				p {{ user_email}}
			div
				button Edit Card