extends layout

block content
	if !user
		.banner-wrapper
				.menu
					p.menu-item
						a(href="/auth/github" class="menu-text") Login
	else
		.banner-wrapper
				.menu
					p.menu-item
						a(href="/rolodex" class="menu-text") Rolodex
					p.menu-item
						a(href="/logout" class="menu-text") Log Out
		
		.myCard(class="col s12" ng-controller="myController")
			div(class="my-card-photo")
				img(src='{{userdata.avatar_url}}', height="100px", width="100px")
			div
				h1 {{ userdata.name }}
				p {{ userdata.company }}
				p {{ userdata.location }}
				p {{ userdata.email }}
			div
				button Edit Card