extends layout

block content
	if !user
		h2 Welcome! Please log in.
			p 
				li
					a(href="/") Home
				li
					a(href="/login") Log In
	else
		h2 Hello #{user.displayName}!
			ul
				li
					a(href="/") Home
				li
					a(href="/account") Business Card
				li
					a(href="/logout") Log Out