extends layout

block content
	if !user
		.banner-wrapper
				.menu
					p.menu-item
						a(href="/auth/github" class="menu-text") Login
	else
		.banner-wrapper
				.menu
					p.menu-item
						a(href="/rolodex" class="menu-text") Rolodex
					p.menu-item
						a(href="/logout" class="menu-text") Log Out
		.my-card(ng-controller="userController as user" ng-cloak)
			.top-row
				.my-card-photo
					img(class="border" src='{{user.profilePhoto}}', height="100px", width="100px")
					input(class="edit-border" type="text" size="40" placeholder="edit photo url" ng-show="user.editing" ng-model="user.profilePhoto")
					
			.middle-row
				.middle-col
					div.card-element
						#name {{ user.name }}
						input(class="edit-border" type="text" size="30" placeholder="edit name", ng-show="user.editing", ng-model="user.name")
					div.card-element
						.text {{ user.company || "independent"}}
						input(class="edit-border" type="text" size="30" placeholder="edit company", ng-show="user.editing", ng-model="user.company")
					div.card-element
						.text {{ user.location }}
						input(class="edit-border" type="text" size="30" placeholder="edit location", ng-show="user.editing", ng-model="user.location")
					div.card-element
						.text {{ user.email }}
						input(class="edit-border" type="text" size="30" placeholder="edit email", ng-show="user.editing", ng-model="user.email")
					br
					div.card-element
						.text {{ user.bio || "edit card to add bio" }}
						textarea(class="edit-border" cols="40" placeholder="edit bio", ng-show="user.editing", ng-model="user.bio")

				.middle-col
					div.card-element
						.text On GitHub since {{ user.githubSince }}
						input(class="edit-border" type="text" placeholder="edit date", ng-show="user.editing", ng-model="user.githubSince")
					div.card-element
						.text Public Repos: {{ user.reposNum }}
						input(class="edit-border" type="text" placeholder="edit public repos #", ng-show="user.editing", ng-model="user.reposNum")
					div.card-element
						.text Followers: {{ user.followers }}
						input(class="edit-border" type="text" placeholder="edit followers #", ng-show="user.editing", ng-model="user.followers")
					div.card-element
						.text Languages:
						.text {{ user.languagesSumStrings }}
						textarea(class="edit-border" cols="40" placeholder="edit languages" ng-show="user.editing" ng-model="user.languagesSumStrings")
			.bottom-row
				#edit-footer
					.edit-button(ng-show="!user.editing" ng-click="user.editToggle()") Edit Card
					.edit-button(ng-click="updateUser()" ng-show="user.editing") Update Card






			
	
	
	
	
