extends layout

block content
	if !user
		h2 Welcome! Please log in.
			p 
				a(href="/") Home
				a(href="/login") Log In
	else
		h2 Hello user!
			p
				a(href="/") Home
				a(href="/account") Account
				a(href="/logout") Log Out