extends layout

block content
	if !user
		.banner-wrapper
				.menu
					p.menu-item
						a(href="/auth/github" class="menu-text") Login
	else
		.banner-wrapper
				.menu
					p.menu-item
						a(href="/rolodex" class="menu-text") Rolodex
					p.menu-item
						a(href="/logout" class="menu-text") Log Out
		.myCard-container(ng-controller="userController")
			.my-card
				div(class="my-card-photo")
					img(src='{{userData.profilePhoto}}', height="100px", width="100px")
				div
					input(type="text" placeholder="edit name", ng-show="editing", ng-model="userData.name")
					h1(class="card-element" ng-show="!editing") {{ userData.name }}
					input(type="text" placeholder="edit company", ng-show="editing", ng-model="userData.company")
					p(class="card-element" ng-show="!editing") {{ userData.company }}
					input(type="text" placeholder="edit location", ng-show="editing", ng-model="userData.location")
					p(class="card-element" ng-show="!editing") {{ userData.location }}
					input(type="text" placeholder="edit email", ng-show="editing", ng-model="userData.email")
					p(class="card-element" ng-show="!editing") {{ userData.email }}
				div
					button(ng-show="!editing" ng-click="editToggle()") Edit Card
					button(ng-click="updateUser()" ng-show="editing") Update Card
