doctype html
html(lang='en' ng-app="myApp")
	head
		meta(charset="utf-8")
		title GitHub Rolodex
		link(rel="stylesheet", href="/main.css")
	body(class="body")
		h1 GitHub Rolodex
		block content

		block scripts
			script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
			script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js")
			script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js")
			script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-route.js")
			script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-resource.js")
			script(type="text/javascript" src="/myApp.js")
