extends layout

block content
	.banner-wrapper
			.menu
				p.menu-item
					a(href="/" class="menu-text") My Business Card
	.rolodex-wrapper
		textarea(type="text" placeholder="Type in a user name" ng-model="search")