extends layout

block content
	.banner-wrapper
			.menu
				p.menu-item
						a(href="/" class="menu-text") My Card
				p.menu-item
					a(href="/logout" class="menu-text") Log Out
	.rolodex-container(class="col s12" ng-controller="rolodexController")