extends layout

block content
	.banner-wrapper
			.menu
				p.menu-item
						a(href="/auth/github" class="menu-text") My Card
				p.menu-item
					a(href="/logout" class="menu-text") Log Out
	div(ng-controller="rolodexController as rolo" ng-cloak)
		.my-card(ng-repeat="entry in rolo.rolodex")
				.top-row
					.my-card-photo
						img(class="border" src='{{entry.profilePhoto}}' height="100px" width="100px")
				
				.middle-row
					.middle-col
						div.card-element
							#name {{ entry.name }}
						div.card-element
							.text {{ entry.company || "independent"}}
						div.card-element
							.text {{ entry.location }}
						div.card-element
							.text {{ entry.email }}
						br
						div.card-element
							.text {{ entry.bio }}

					.middle-col
						div.card-element
							.text On GitHub since {{ entry.githubSince }}
						div.card-element						
							.text Public Repos: {{ entry.reposNum }}
						div.card-element
							.text Followers: {{ entry.followers }}
						div.card-element
							.text Languages:
							.text {{ entry.languagesSumStrings }}