extends layout

block content
	.banner-wrapper
		h2 Search GitHub Rolodex
			.menu
				p.menu-item
					a(href="/") Home
	.rolodex-wrapper
		textarea(type="text" placeholder="Type in a user name" ng-model="search")