extends layout

block content
	.banner-wrapper
			.menu
				p.menu-item
					a(href="/" class="menu-text") My Business Card
	.rolodex-wrapper(class="col s12" ng-controller="roloController")
		button(ng-click="display()") Show Rolodex
		ul
			li(ng-repeat="user in allusers") {{ user.name }}