.body {
	font-family: "Arial"
}

.h1-title{
	color:gray;
	margin:5px 5px 5px 10px;
	font-weight: bold;
}

.banner-wrapper {
	width: 105vw;
	height: 100px;
	margin: 0 0 0 5px;
	/*line-height:100px;*/
}

.menu {
	width: 90%;
	height:50px;
	background-color: gray;
	position: relative;
	text-align: right;
}

.menu-item{
	display:inline-block;
	height:30px;
	margin: 10px 15px;
	/*vertical-align:middle;*/
}

.menu-text{
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

.my-card{
	margin: 0 auto;
	width: 80%;
	min-height: 400px;
	border: 1px solid black;
	box-shadow: 0px 5px 5px #888888;
	border-radius: 5px;
}

.my-card-mask{
	line-height: 400px;
}

.show-card-text{
	vertical-align: middle;
	text-align: center;
	margin: 0 auto;
}

.my-card-photo{
	border:1px solid black;
	height: 100px;
	width: 100px;
	margin: 10px;
	border-radius:5px;
}

.card-element{
	margin:5px;

}


.rolodex-card{

}