.body {
	font-family: "Arial"
}

.banner-wrapper {
	width: 90%;
	height: 100px;

}

.menu {
	width: 90%;
	height:50px;
	background-color: gray;
	position: relative;
	text-align: right;
}

.menu-item{
	display:inline-block;
	height:30px;
	margin: 10px 20px;
}

.menu-text{
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

.my-card{

}

.my-card-photo{
	border:1px solid black;
	height: 100px;
	width: 100px;
}

.card-element{

}


.rolodex-card{

}